<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/index.css"/>
</head>
<body>
    <div id="start" class="center-content">
        <button type="button" id="btn-play">Play</button>
    </div>
    <div id="app" class="h-full hidden">
        <div class="flex h-full">
            <nav class="nav nav-top flex flex-row flex-jend">
                <button class="icon-button" id="btn-open-mobile-menu">
                    <i class="icon">menu</i>
                </button>
            </nav>
            <section class="grow" style="padding: 0 .5rem;" id="main-view">
                <h1>Hello, Master.</h1>
                {{range .Navigator}}
                {{end}}
            </section>
            <footer class="nav nav-bottom">
                <p>
                    Your players can join the server through 
                    {{with .PlayerAddress}}<a href="{{.}}" target="_blank">{{.}}</a>{{end}} address.
                </p>
            </footer>
        </div>
        <div class="mobile menu absolute h-full w-full bg-white hidden" id="menu-mobile">
            <nav class="nav nav-top flex flex-row flex-jend">
                <button class="icon-button" id="btn-close-mobile-menu">
                    <i class="icon">close</i>
                </button>
            </nav>
            <ul class="menu">
                {{range .Navigator}}
                <li>
                    {{template "MenuButton" .}}
                </li>
                {{end}}
            </ul>
        </div>
    </div>

    <script src="/static/index.js" type="module"></script>
</body>
</html>